# Python
__pycache__/
*.pyc

# VSCode
.vscode/

# 환경변수 파일
.env

# 기타
.DS_Store

# Python 가상환경
venv/
__pycache__/

# 모델
*.pt
*.safetensors

# 크로마 디비
chroma_db/
chroma.log
chroma.sqlite3
chroma_db_weight/