torch==2.1.0+cu121
transformers==4.38.2 #hf 모델 로드하고 추론 핵심 라이브러리
safetensors #HuggingFace 모델이 저장되는 .safetensors 파일 포맷을 빠르고 안전하게 로드하기 위한 라이브러리
fastapi
uvicorn==0.29.0
huggingface-hub
python-dotenv
numpy<2
sentencepiece
accelerate>=0.20.3
bitsandbytes>=0.41.0
llama-cpp-python
langchain
Faker>=18.0.0
openai